/*estilos propios*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import "lesshat";
/*------------------------------------------*/
/*	     01 - Estilos para titulos 
/*------------------------------------------*/
/*estilo para titulo secciones*/
.tituloseccion{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color:#262626; /*negro principal*/
	padding-left: 150px;
	/*text-decoration: underline;*/
	padding-top: 30px;
	padding-bottom: 30px;
	
}


/*Estilo para titulo redes sociales*/
.tituloredes{
	
	padding-bottom: 30px;
	padding-left: 30px;

}

/*Para subrayar los titulos cuando pasamos por encima*/
h2:hover{
	text-decoration: underline;
}


.labeladmin{
  padding-left:350px;
}

/*------------------------------------------*/
/*	 02 - Estilos para tabla listado users
/*------------------------------------------*/
/*tamaño tabla listado*/
.sizetable{

	margin-left: 100px;
	width: 90%;
	padding-top: 150px;
	
}

/*color boton panel admin*/
.botonpaneladmin{
	
	background-color: #00D2A8;
}

/*color boton panel admin*/
.botonpanel{
	
	background-color: #00D2A8;
	color:#ffffff;
	width: 25%;
}



/*------------------------------------------*/
/*	 03 - Estilos para galeria de imagenes
/*------------------------------------------*/


/*para vista de la galeria de imagenes*/
.thumbnail a > img, .thumbnail > img{

	display: block  !important;
	max-width: 100%  !important;
	height: 300px !important;
}

/*estilo para la fila*/
.row{
	
	padding-left: 60px;
	padding-right: 60px;
}


/*pading div galeria imagenes*/
.leftimage{
	padding-left: 30px;
	padding-right: 10px;

}

/*para la sombra de los div*/
.sombra{
	-webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
}

/*margen y color para boton galeria imagenes */
.paddingboton{
	margin-left: 160px;
	margin-bottom: 50px;
	background-color: #00D2A8;
}

/*padding botón editar*/
.paddingeditboton{
	margin-left: 10px;
	margin-bottom: 50px;
	background-color: #00D2A8;
}

/*pading para category y tags*/
.rightpanel{
	padding-right: 100px;
}

/*cambiar color badge*/
.badge-error{
	background-color: #3636FF;
}

/*cambiar color panel*/
.panel-primary > .panel-heading {
  background-color: #00D2A8;
}


.leftname{
	padding-left: 5px;
}

.label-color{
	background-color: #3636FF;
}

/*borde filtro tags*/
#mostrartags{
	border-top:1px solid black;
}

.sizecomment{
	font-size: 12px;
}


/*efecto zoom para los div de la galeria de imagenes*/
.zoomIt{
display:block!important;
-webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
}
.zoomIt:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}


/*------------------------------------------*/
/*	 04 - Estilos para organigrama
/*------------------------------------------*/
.centro{
	text-align: center;
}


.socialcenter{
	padding-right: 110px;
}


.socialpresidente{
	padding-right: 460px;
}

.altura{
	padding-top: 20px;
	padding-bottom: 50px;
}
/*cambiar color botones sumbmit*/
a.main-button, input[type="submit"]{
	background-color: #00D2A8;
}

/*------------------------------------------*/
/*	 04 - Estilos para logo
/*------------------------------------------*/

.logo{
	width: 200px;
	padding-top: 40px;
}

.logohome{
	width: 300px;
	margin-left: 170px;
	
}




/*------------------------------------------*/
/*	 05 - Estilos para footer
/*------------------------------------------*/

.colorenlace{
	color:#00D2A8;
}

.espacio{
	padding-top: 30px;
}

.tamañoimg{
	width: 200px;
}


/*------------------------------------------*/
/*	 05 - Estilos para eventos
/*------------------------------------------*/

