/*estilos propios*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import "lesshat";
/*------------------------------------------*/
/*	     01 - Estilos para titulos 
/*------------------------------------------*/
/*estilo para titulo secciones*/
.tituloseccion{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color:#262626; /*negro principal*/
	padding-left: 150px;
	/*text-decoration: underline;*/
	padding-top: 30px;
	padding-bottom: 30px;
	
}


/*Estilo para titulo redes sociales*/
.tituloredes{
	
	padding-bottom: 30px;
	padding-left: 30px;

}

/*Para subrayar los titulos cuando pasamos por encima*/
h2:hover{
	text-decoration: underline;
}


.labeladmin{
  padding-left:350px;
}

/*------------------------------------------*/
/*	 02 - Estilos para tabla listados
/*------------------------------------------*/
/*tamaño tabla listado*/
.sizetable{

	margin-left: 100px;
	width: 90%;
	padding-top: 150px;
	
}

/*color boton panel admin*/
.botonpaneladmin{
	
	background-color: #00D2A8;
	color:white;
}

.botonpaneladmin:hover{
	color:white;
}


/*color boton panel admin*/
.botonpanel{
	
	background-color: #00D2A8;
	color:#ffffff;
	width: 25%;
}



/*------------------------------------------*/
/*	 03 - Estilos para galeria de imagenes
/*------------------------------------------*/


/*para vista de la galeria de imagenes*/
.thumbnail a > img, .thumbnail > img{

	display: block  !important;
	max-width: 100%  !important;
	height: 300px !important;
}

/*estilo para la fila*/
.row{
	
	padding-left: 60px;
	padding-right: 60px;
}


/*pading div galeria imagenes*/
.leftimage{
	padding-left: 30px;
	padding-right: 10px;
	
}

.leftrender{
	padding-left: 70px;
	padding-right: 10px;
}

/*para la sombra de los div*/
.sombra{
	-webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
}

/*margen y color para boton galeria imagenes */
.paddingboton{
	margin-left: 160px;
	margin-bottom: 50px;
	background-color: #00D2A8;
	color:white;
}

/*margen y color para boton galeria imagenes */
.paddingboton:hover{
	margin-left: 160px;
	margin-bottom: 50px;
	color:white;
}


/*padding botón editar*/
.paddingeditboton{
	margin-left: 10px;
	margin-bottom: 50px;
	background-color: #00D2A8;
	color:white;
}

/*padding botón editar*/
.paddingeditboton:hover{
	margin-left: 10px;
	margin-bottom: 50px;
	color:white;
}

/*pading para category y tags*/
.rightpanel{
	padding-right: 100px;
}

/*cambiar color badge*/
.badge-error{
	background-color: #3636FF;
}

/*cambiar color panel*/
.panel-primary > .panel-heading {
  background-color: #00D2A8;
}


.leftname{
	padding-left: 5px;
}

.label-color{
	background-color: #3636FF;
}

/*borde filtro tags*/
#mostrartags{
	border-top:1px solid black;
}
/*tamaño fuente comentarios*/
.sizecomment{
	font-size: 12px;
}


/*efecto zoom para los div de la galeria de imagenes*/
.zoomIt{
display:block!important;
-webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
}
.zoomIt:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}

.colorboton{
	background-color: #00D2A8;
	color:white;
}

.colorboton:hover{
	
	color:white;
}

/*cambiar color botones sumbmit*/
a.main-button, input[type="submit"]{
	background-color: #00D2A8;
}

.pagination > .active > span{
	background-color: #00D2A8;
}

.pagination > .active > span:hover{
	background-color: #404040;
}
/*------------------------------------------*/
/*	 04 - Estilos para organigrama
/*------------------------------------------*/
/*el texto alineado al centro*/
.centro{
	text-align: center;
}

/*padding iconos redes centrar*/
.socialcenter{
	padding-right: 110px;
}

/*padding iconos redes centrar presidente*/
.socialpresidente{
	padding-right: 460px;
}
/*distancia de separacion con pie de página*/
.altura{
	padding-top: 20px;
	padding-bottom: 50px;
}


/*------------------------------------------*/
/*	 04 - Estilos para logo
/*------------------------------------------*/
/*tamaño logo*/
.logo{
	width: 200px;
	padding-top: 40px;
}



/*------------------------------------------*/
/*	 05 - Estilos para footer
/*------------------------------------------*/
/*color enlaces footer*/
.colorenlace{
	color:#00D2A8;
}
/*espacio de separación*/
.espacio{
	padding-top: 30px;
}
/*tamaño logo*/
.tamañoimg{
	width: 200px;
}


/*------------------------------------------*/
/*	 05 - Estilos para noticias
/*------------------------------------------*/
/*color para nuevo post rss*/
.new-post-label{
	color:#FAAD48;
}
/*color flecha*/
.fa-arrow-right::before{
	color:#262626;
}

/*------------------------------------------*/
/*	 06 - Estilos para admin
/*------------------------------------------*/
/*margen para buscador*/
.marginbuscador{
	margin-right: 50px;
}


